---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import Hero from '../components/index/Hero.astro';
import Container from '../components/Container.astro';

import Luis from '../components/index/projects/Luis.astro';
import Spreadsheet from '../components/index/projects/Spreadsheet.astro';
---

<Layout
  title="Luihh"
  description="JavaScript & TypeScript Developer."
>
  <main class="px-4">
    <Container>
      <Hero />
    </Container>

    <Container>
      <Luis />
    </Container>

    <Container>
      <Spreadsheet />
    </Container>
  </main>
</Layout>
