---
import Button from '../../Button.astro';
---

<div class="flex flex-col sm:flex-row items-center gap-8">
  <div class="w-full sm:w-1/2">
    <img
      src="./luis.webp"
      alt="Luis bot"
      class="max-w-2xs mx-auto rounded-lg shadow-lg sm:rotate-2"
    />
  </div>

  <div
    class="w-full sm:w-1/2 flex flex-col items-center sm:items-start text-center sm:text-start"
  >
    <h2 class="text-3xl font-bold text-ctp-text mb-4">Luis bot</h2>
    <p class="text-ctp-subtext1 text-lg text-balance mb-6 max-w-lg">
      Luis is a <strong class="text-ctp-yellow"
        >Geometry Dash Fishing Bot</strong
      > where you can fish for <strong class="text-ctp-red"
        >Extreme Demons</strong
      >, earn points based on difficulty, and spend them on fun <strong
        class="text-ctp-pink">minigames</strong
      >!
    </p>

    <div class="flex flex-wrap justify-center sm:justify-start gap-4">
      <Button
        href="https://luis.luihh.dev/"
        color="green"
        >Website</Button
      >
      <Button
        href="https://luis.luihh.dev/invite"
        color="blue"
        >Invitation</Button
      >
      <Button
        href="https://www.patreon.com/Luihh"
        color="red"
        >Patreon</Button
      >
    </div>
  </div>
</div>
