<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-ctp-text transition
         bg-ctp-surface0 border border-ctp-overlay0 rounded-full
         hover:bg-ctp-overlay0
         group max-w-fit text-md"
>
  <slot />
</a>
