---
import '@fontsource-variable/inter';
import '../styles/global.css';

import Head from './Head.astro';

const { title, description, favicon, styles } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head
    title={title}
    description={description}
    favicon={favicon}
  />
  <body
    class="[&>strong]:font-semibold"
    style={styles}
  >
    <slot />
  </body>
</html>
